<div class="container">
  <h1>{{title}}</h1>
  <p>
    I use these at work:
  </p>
  <ul>
  {{#each things.work}}
    <li>
      {{~#if this.url}}<a href="{{this.url}}">{{/if}}{{this.name}}{{#if this.url}}</a>{{/if~}}
    </li>
  {{/each}}
  </ul>
  <p>
    These at home:
  </p>
  <ul>
  {{#each things.home}}
    <li>
      {{~#if this.url}}<a href="{{this.url}}">{{/if}}{{this.name}}{{#if this.url}}</a>{{/if~}}
    </li>
  {{/each}}
  </ul>
  <p>
    And over the past few decades, I've used these:
  </p>
  <ul>
  {{#each things.decades}}
    <li>
      {{~#if this.url}}<a href="{{this.url}}">{{/if}}{{this.name}}{{#if this.url}}</a>{{/if~}}
    </li>
  {{/each}}
  </ul>
  <p>
    Plus plenty more I've likely forgotten.
  </p>
</div>
